// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

spawn-at-startup "qs" "-c" "noctalia-shell"

// spawn-at-startup "swayidle" "-w" \
//   "timeout" "300" "qs -c noctalia-shell ipc call lockScreen lock" \
//   "timeout" "600" "systemctl suspend || loginctl suspend " \
//   "before-sleep" "qs -c noctalia-shell ipc call lockScreen lock" 
  // "timeout" "601" "niri msg action power-off-monitors"

//spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
