// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

include "configs/animations.kdl"
include "configs/environment.kdl"
include "configs/input.kdl"
include "configs/keybinds.kdl"
include "configs/layout.kdl"
include "configs/misc.kdl"
include "configs/outputs.kdl"
include "configs/layer-rules.kdl"
include "configs/startup.kdl"
include "configs/window-rules.kdl"